<li>
	{{name}}

	<button class="eatburger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}DEVOURED BURGER!{{else}}EAT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>